<div class="review-reaction">
    <p>Was this review </p>
        <a href="{{registerUpvote reviewID true}}"><button>Helpful</button></a>
        <a href="{{registerUpvote reviewID false}}"><button>Unhelpful</button></a>
</div>